.footer {
  background-color: $secondary-bg-color;
}
.footer-inner {
  display: flex;
}
.contacts {
  margin-right: 70px;
}

.footer-adress {
  color: $primary-white-color;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;

  margin-top: 0;
}
.footer-contacts {
  color: rgba(255, 255, 255, 0.6);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;

  margin-top: 0;
  display: flex;
}
.webfot-icon {
  max-width: 131px;
  max-height: 31px;
}

@media screen and (min-width: 480px) {
  .footer {
    display: block;
    width: auto;
    padding-top: 60px;
    text-align: center;
    padding-bottom: 60px;
    margin: auto;
  }
  .footer-inner {
    display: block;
  }
  .footer-contacts {
    margin: auto;
    display: block;
  }
  .contacts {
    margin: auto;
    margin-bottom: 60px;
  }
}
@media screen and (min-width: 768px) {
  .footer {
    display: block;
    width: auto;
    padding-top: 60px;
    text-align: center;
    padding-bottom: 60px;
    margin: auto;
  }
  .footer-inner {
    display: flex;
    flex-wrap: wrap;
  }
  .footer-contacts {
    margin: auto;
    display: block;
  }
  .contacts {
    margin: 0;
  }
  .social {
    margin-left: 165px;
  }
}
